* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.todo {
    height: 100%;
}

.basicpage {
    background-color: rgba(20, 20, 20, 0.92);
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    height: 150px;
    width: 325px;
    margin-right: 150px;
    margin-left: 45px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-right: 5px;
    white-space: nowrap;
}

button:hover {
    color: #7EF47F;
}

.Bsecion {
    margin-left: 160px;
    margin-right: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
}

.content1 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* set the height to 100vh to take up the full screen */
    background: url(./assets/background.gif);
    background-size: cover;
    display: flex;
    /* add flexbox to center the content */
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: inline-block;
    margin: 20px;
    /* adjust the margin to your liking */
    width: 40%;
}

.image-wrapper img {
    max-width: 420px; 
    height: auto; 
}

#imagen1 {
    position: absolute;
    top: 150px;
    left: 420px;
    z-index: 2;
}

#imagen2 {
    position: absolute;
    width: 15%;
    top: 150px;
    left: 1245px;
    z-index: 3;
}

.content2 {
    background-color: #202020;
}

.content2 h1 {
    padding-top: 60px;
    margin-left: 450px;
    font-size: 2em;
    color: white;
}

.content2 h3 {
    color: white;
}

#offert {
    margin-left: 320px;
    font-size: 1em;
    color: #7EF47F;
}

.game-offers {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.game {
    text-align: center;
}

.game img {
    margin-top: 80px;
    width: 350px;
    border-radius: 10px;
}

.game h2 {
    margin: 15px 0;
    font-size: 1.5em;
    color: aliceblue;
}

.game h3 {
    margin: 10px 0;
    font-size: 1.1em;
    color: #7EF47F;
    margin-bottom: 50px;
}

.price-offert {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 5px;
}

.price-offert button {
    margin-bottom: 50px;
    padding: 15px 10px;
    background-color: #7EF47F;
    color: black;
    font-weight: bold;
    border-radius: 10%;
}

/* Formulario de Registro */
.formbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    margin-left: 2;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    margin-top: 250px;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #218838;
}

.form-container h3 {
    margin-top: 20px;
}

.form-container h3 a {
    color: #007bff;
    text-decoration: none;
}

.form-container h3 a:hover {
    text-decoration: underline;
}

/* Formulario de Inicio */

